"*":
  "atom-ide-ui":
    "atom-ide-terminal":
      documentationMessage: false
      lineHeight: 1.2
      rendererType: "canvas"
  "autocomplete-plus":
    autoActivationDelay: 100
    useCoreMovementCommands: false
  "color-picker": {}
  core:
    autoHideMenuBar: true
    closeEmptyWindows: false
    disabledPackages: [
      "archive-view"
      "autoflow"
      "autosave"
      "background-tips"
      "bookmarks"
      "dev-live-reload"
      "find-and-replace"
      "go-to-line"
      "image-view"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-java"
      "language-objective-c"
      "language-php"
      "language-perl"
      "open-on-github"
      "package-generator"
      "spell-check"
    ]
    telemetryConsent: "limited"
    themes: [
      "minima-gp-ui"
      "gmacs-blue-syntax"
    ]
    titleBar: "custom"
    useTreeSitterParsers: true
  editor:
    fontFamily: "Fira Mono for Powerline, Input, DejaVu Sans Mono, Menlo, monospace"
    invisibles: {}
    lineHeight: 1.7
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "e935c70a-de60-4131-9482-2f8641db8124"
  pigments:
    markerType: "native-underline"
  react:
    enabledForAllJavascriptFiles: true
  "status-bar": {}
  "vim-mode-plus":
    highlightSearch: false
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
