"*":
  "atom-ide-ui":
    "atom-ide-terminal":
      documentationMessage: false
      lineHeight: 1.2
      rendererType: "canvas"
  "atom-package-deps":
    ignored: [
      "prettier-atom"
    ]
  "autocomplete-plus":
    autoActivationDelay: 100
    useCoreMovementCommands: false
  "color-picker": {}
  core:
    autoHideMenuBar: true
    closeEmptyWindows: false
    customFileTypes:
      "text.html.mustache": [
        "svelte"
      ]
    disabledPackages: [
      "archive-view"
      "autoflow"
      "autosave"
      "background-tips"
      "bookmarks"
      "dev-live-reload"
      "find-and-replace"
      "go-to-line"
      "image-view"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-java"
      "language-objective-c"
      "language-php"
      "language-perl"
      "open-on-github"
      "package-generator"
      "spell-check"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-distraction-free-syntax"
    ]
    titleBar: "custom"
    useTreeSitterParsers: true
  editor:
    confirmCheckoutHeadRevision: false
    fontFamily: "Fantasque Sans Monoxxx, Source Code Variable, Dank Mono, Fira Mono for Powerline, Input, DejaVu Sans Mono, Menlo, monospace"
    fontSize: 17
    invisibles: {}
    preferredLineLength: 180
    scrollPastEnd: true
    showIndentGuide: true
    showLineNumbers: false
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "e935c70a-de60-4131-9482-2f8641db8124"
  "gruvbox-plus-syntax":
    contrast: "Soft"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
  react:
    enabledForAllJavascriptFiles: true
  "status-bar": {}
  "theme-switch":
    darkProfiles: [
      "one-dark-ui one-dark-syntax"
    ]
    lightProfiles: [
      "one-light-ui gmacs-light-syntax"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    highlightSearch: false
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
